# eclipse
bin
*.launch
.settings
.metadata
.classpath
.project

# idea
out
*.ipr
*.iws
*.iml
.idea

# gradle
build
.gradle

# other
eclipse
run

# Files from Forge MDK
forge*changelog.txt
*.properties
*.gradle
gradlew
*.bat
gradle/wrapper/gradle-wrapper.jar
.vscode/tasks.json
.vscode/settings.json
.vscode/launch.json
